.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .mainContent {
        display: flex;
        align-items: center;
        flex-grow: 1;
        max-height: 90vh;
        .infoContainer {
            height: 85%;
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
        .globeContainer {
            width: 70%;
            height: 100%;
        }
    }
}