.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .mainContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        .infoContainer {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        .globeContainer {
            width: 95%;
            height: 95%;
        }
    }
}