.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        max-height: 92vh;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
            position: relative;
            padding: 0 30px;
            .infoCardContainer {
                box-sizing: border-box;
                height: 100%;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px 0;
            }
            .globeContainer {
                box-sizing: border-box;
                height: 100%;
                width: 60%;
                overflow: visible;
            }
        }
    }
}